/* 首页 */

.partone {
    height: 100vh;
    background-image: url(../img/indexbg2.png);
    background-size: 90% 68%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

@media screen and (min-width: 500px) {
    .partone {
        min-height: 181.333vw;
    }
}

.partonetitle {
    font-size: 5.3333vw;
    color: #00FFFF;
    font-family: w3;
    padding: 40.3333vw 0 4vw 8vw;
    line-height: 5.96533vw;
}

.partonedes {
    font-size: 4.2743vw;
    color: #ffffff;
    font-family: w1;
    padding-left: 8vw;
    line-height: 5.6vw;
}

.indexone {
    width: 47.2vw;
    border-radius: 8vw;
    margin: 2.667vw auto 8vw;
    background: linear-gradient(to left, rgba(255, 255, 255,0)0%,rgba(255, 255, 255, 0.2));
}

.ptspan {
    width: 100%;
    height: 12.2667vw;
    display: block;
    font-size: 5.3333vw;
    color: #00FFFF;
    font-family: w3;
    border: 1px solid rgb(255,255,255,.3);
    text-align: center;
    position: initial;
    line-height: 8.8vw;
    border-radius: 8vw;
}

.ptspan::after {
    content: '';
    display: block;
    width: 21.333vw;
    height: 1px;
    margin: auto;
    background-color: #ffffff;
    position: inherit;
    top: 10.4vw;
    left: 12.6667vw;
}

.ptp {
    font-family: w1;
    font-size: 4.26667vw;
    width: 83.74968vw;
    color: #ffffff;
    line-height: 7.2vw;
    padding: 0 8vw 9.6vw;
    text-indent: 8.37334vw;
    text-align: justify;
    white-space: normal;
}

.ptpbg {
    background-image: url(../img/indexbg1.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.ptpli {
    background: linear-gradient(to left, rgba(255, 255, 255,0)0%,rgba(255, 255, 255, 0.2));
    width: 78vw;
    border-radius: 8vw;
    margin: 0 auto 4vw;
}

.ptpbgcolor {
    width: 78vw;
    height: 10.9vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8vw;
    font-family: w1;
    font-size: 3.7333vw;
    color: #ffffff;
    display: flex;
    line-height: 10.9vw;
    margin: 0 auto 4vw;
    overflow: hidden;
}

.circle {
    width: 11.4vw;
    height: 11.4vw;
    border-radius: 10.9vw 10.9vw 10.9vw 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin-top: -1px;
}

.ptplione {
    background-image: url(../img/icon1.png);
}

.ptplitwo {
    background-image: url(../img/icon2.png);
}

.ptplithree {
    background-image: url(../img/icon3.png);
}

.ptplifour {
    background-image: url(../img/icon4.png);
}

.ptplifive {
    background-image: url(../img/icon5.png);
}

.dotblue {
    color: #00FFFF;
    margin-left: 1.86667vw;
}
.ptspans {
    display: block;
    font-size: 3.2vw;
    width: 27.4667vw;
    height: 5.333vw;
    border-radius: 8vw;
    border: 1px solid #00FFFF;
    color: #ffffff;
    margin: 0 auto 8vw;
    text-align: center;
    line-height: 5.333vw;
    padding: 0.01333vw 2.9066vw;
}

.ptspansdiv {
    width: 19.4vw;
    height: 7.80683vw;
}

.ptplogoimg {
    width: 100%;
    height: 100%;
}