@font-face {
    font-family: 'W1';
    src: url("../fonts/字体圈伟君黑-W1.ttf");
}

@font-face {
    font-family: 'W2';
    src: url("../fonts/字体圈伟君黑-W2.ttf");
}

@font-face {
    font-family: 'W3';
    src: url("../fonts/字体圈伟君黑-W3.ttf");
}

body,ul,p,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#ffffff;
}

.content {
    width: 100%;
    height: auto;
    background: #03192D;
}

.headnav { 
    width: 100%;
    height: 10.666vw;
    position: sticky;
    top: 0;
    background: #03192D;

}

.mheadnav_info{
    width: 100%;
    height: 10.666vw;
    background: linear-gradient(to left, rgba(255, 255, 255,0)0%,rgba(255, 255, 255, 0.2));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mheadnav {
    width: 25.6vw;
    height: 11.2vw;
    margin-left: 2vw;
}

.mheadtab {
    width: 13.6667vw;
    height: 9.333vw;
    margin-right: 2vw;
}

.mlogo {
    width: 100%;
    height: 100%;
}

/* footer  */

.dotblue {
    color: #00FFFF;
    margin-left: 1.86667vw;
}

.bluecolor {
    color: #00FFFF;
}

.footer {
    background-image: url(../img/indexbg3.png);
    height: 63.2vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.footercontent {
    display: flex;
}

.footertrans {
    width: 85.466vw;
    height: 40vw;
    background: linear-gradient(to left, rgba(255, 255, 255,0)0%,rgba(255, 255, 255, 0.2));
    border: 1px solid rgb(255,255,255,.3);
    border-radius: 2.666vw;
    color: #ffffff;
    font-family: w1;
    font-size: 3.46667vw;
    line-height: 5.965vw;
    margin: 8.26667vw auto 4.6667vw;
}

.footercontent-left {
    display: flex;
    flex-direction: column;
    width: 14.06667vw;
}

.ju {
    margin-left: 4vw;
}

.aqqz {
    background: url(../img/资源\ 3@2x.png) no-repeat;
    background-size: contain;
    background-position-y: 2vw;
}